In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

In [2]:
import glob

# List all CSV files in the current directory
csv_files = glob.glob("*.csv")

# Print the list of CSV files
print(csv_files)

['bra_trends.csv', 'chl_trends.csv', 'col_trends.csv', 'dom_trends.csv', 'ger_trends.csv', 'ita_trends.csv', 'mex_trends.csv', 'pan_trends.csv', 'ury_trends.csv', 'usa_trends.csv']

In [4]:
df_sample = pd.read_csv(csv_files[0], skiprows = 2)
df_sample.head()

,Month,Virus: (Brazil),Symptom: (Brazil),Hospital: (Brazil),Physician: (Brazil)
0,2004-01,13,7,24,11
1,2004-02,16,8,24,9
2,2004-03,21,9,27,9
3,2004-04,18,9,25,9
4,2004-05,21,9,24,8

In [5]:
df_sample.columns

Index(['Month', 'Virus: (Brazil)', 'Symptom: (Brazil)', 'Hospital: (Brazil)',
       'Physician: (Brazil)'],
      dtype='object')

In [8]:
# Loop through each CSV file
combined_df = pd.DataFrame()
for csv_file in csv_files:
    # Read the CSV file, skipping the first two lines and using the third line as the header
    temp_df = pd.read_csv(csv_file, skiprows=2)

    # Extract the country name from the parentheses in the first column name
    country_name = temp_df.columns[1].split('(')[1].split(')')[0]

    # Rename the columns to keep only the text before the parentheses and remove spaces
    temp_df.columns = [col.split('(')[0].replace(' ', '') for col in temp_df.columns]

    # Add the country name to the list
    #country_names.append(country_name)

    # Add a new column named "country" with the extracted country name
    temp_df['country'] = country_name

    # Append the temporary DataFrame to the combined DataFrame
    combined_df = pd.concat([combined_df, temp_df], ignore_index=True)

In [10]:
combined_df.columns = ['date', 'g_virus', 'g_symptoms', 'g_hospital', 'g_physician', 'country']
combined_df['date'] = pd.to_datetime(combined_df['date'])

In [14]:
combined_df.to_csv('../silver/google_trends.csv')