In [1]:
import pandas as pd
import numpy as np
import os
import glob
from tqdm import tqdm

In [2]:
# read files
folder_path = "air_quality"  # Adjust this to your folder path

air_files = [file_path for file_path in glob.glob(os.path.join(folder_path, "*")) if os.path.isfile(file_path)]
air_files

['air_quality\\download.ipynb',
 'air_quality\\waqi-covid-2022Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2015H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2016H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2017H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2018H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q4.csv']

In [3]:
csv_files = [file for file in air_files if file.endswith('.csv')]
csv_files

['air_quality\\waqi-covid-2022Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2015H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2016H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2017H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2018H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q4.csv']

In [4]:
dataframes = []
countries_keep = ['BR', 'CL', 'CO', 'MX', 'DE', 'US', 'IT']
vars_keep = ['pm25', 'humidity']
for file in tqdm(csv_files):
    try:
        df_temp = pd.read_csv(file, skiprows=4)
        df_temp = df_temp[df_temp['Country'].isin(countries_keep)]
        #df_temp = df_temp[df_temp['Specie'].isin(vars_keep)]
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp_g = df_temp.groupby(['Date', 'Country', 'Specie'])[['median']].mean().reset_index()
        dataframes.append(df_temp_g)
    except Exception as e:
        print(f"Error reading {file}: {e}")

100%|██████████| 24/24 [00:13<00:00,  1.80it/s]

In [5]:
# Concatenate all DataFrames into a single DataFrame
df = pd.concat(dataframes, ignore_index=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191553 entries, 0 to 191552
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     191553 non-null  datetime64[ns]
 1   Country  191553 non-null  object
 2   Specie   191553 non-null  object
 3   median   191553 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 5.8+ MB

In [7]:
df.sort_values(by='Date')

             Date Country         Specie       median
3543   2014-12-29      IT            no2    32.583333
3531   2014-12-29      CO             o3     4.200000
3532   2014-12-29      CO           pm10    29.000000
3533   2014-12-29      CO           pm25    50.000000
3534   2014-12-29      CO            so2     0.800000
...           ...     ...            ...          ...
191523 2023-12-31      CO  precipitation     0.500000
191524 2023-12-31      CO       pressure  1027.750000
191525 2023-12-31      CO            so2     0.500000
191514 2023-12-31      BR      wind-gust    11.850000
191552 2023-12-31      MX     wind-speed     2.209091

[191553 rows x 4 columns]

In [8]:
df.to_csv('silver/atmosferic_data.csv', index=False)