In [3]:
import pandas as pd
import numpy as np
import os
import glob
from tqdm import tqdm

In [4]:
# read files
folder_path = "air_quality"  # Adjust this to your folder path

air_files = [file_path for file_path in glob.glob(os.path.join(folder_path, "*")) if os.path.isfile(file_path)]
air_files

['air_quality\\waqi-covid19-airqualitydata-2015H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2016H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2017H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2018H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q4.csv']

In [13]:
dataframes = []
countries_keep = ['BR', 'CL', 'CO', 'MX', 'DE', 'US', 'IT']
vars_keep = ['pm25', 'humidity']
for file in tqdm(air_files):
    try:
        df_temp = pd.read_csv(file, skiprows=4)
        df_temp = df_temp[df_temp['Country'].isin(countries_keep)]
        #df_temp = df_temp[df_temp['Specie'].isin(vars_keep)]
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp_g = df_temp.groupby(['Date', 'Country', 'Specie'])[['median']].mean().reset_index()
        dataframes.append(df_temp_g)
    except Exception as e:
        print(f"Error reading {file}: {e}")

100%|██████████████████████████████████████████████████████████████████████████████████| 24/24 [00:11<00:00,  2.00it/s]

In [14]:
# Concatenate all DataFrames into a single DataFrame
df = pd.concat(dataframes, ignore_index=True)

C:\Users\danie\AppData\Local\Temp\ipykernel_20380\1902166776.py:2: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat(dataframes, ignore_index=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188037 entries, 0 to 188036
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     188037 non-null  datetime64[ns]
 1   Country  188037 non-null  object
 2   Specie   188037 non-null  object
 3   median   188037 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 5.7+ MB

In [16]:
df.sort_values(by='Date')

             Date Country         Specie       median
0      2014-12-29      BR             co     5.500000
24     2014-12-29      DE           pm25    44.500000
25     2014-12-29      DE            so2     4.500000
26     2014-12-29      IT             co     0.100000
27     2014-12-29      IT            no2    32.583333
...           ...     ...            ...          ...
188007 2023-12-31      CO  precipitation     0.500000
188008 2023-12-31      CO       pressure  1027.750000
188009 2023-12-31      CO            so2     0.500000
187999 2023-12-31      BR     wind-speed     5.966667
188036 2023-12-31      MX     wind-speed     2.209091

[188037 rows x 4 columns]

In [17]:
df.to_csv('silver/atmosferic_data.csv', index=False)