In [9]:
import pandas as pd
import numpy as np
import os
import glob
from tqdm import tqdm

In [10]:
# read files
folder_path = "air_quality"  # Adjust this to your folder path

air_files = [file_path for file_path in glob.glob(os.path.join(folder_path, "*")) if os.path.isfile(file_path)]
air_files

['air_quality\\download.ipynb',
 'air_quality\\waqi-covid-2022Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2015H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2016H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2017H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2018H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q4.csv']

In [11]:
csv_files = [file for file in air_files if file.endswith('.csv')]
csv_files

['air_quality\\waqi-covid-2022Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2015H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2016H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2017H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2018H1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2019Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2020Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2021Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2022Q4.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q1.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q2.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q3.csv',
 'air_quality\\waqi-covid19-airqualitydata-2023Q4.csv']

In [12]:
dataframes = []
countries_keep = ['BR', 'CL', 'CO', 'MX', 'DE', 'US', 'IT', 'GR', 'TR']
vars_keep = ['pm25', 'humidity']
for file in tqdm(csv_files):
    try:
        df_temp = pd.read_csv(file, skiprows=4)
        df_temp = df_temp[df_temp['Country'].isin(countries_keep)]
        #df_temp = df_temp[df_temp['Specie'].isin(vars_keep)]
        df_temp['Date'] = pd.to_datetime(df_temp['Date'])
        df_temp_g = df_temp.groupby(['Date', 'Country', 'Specie'])[['median']].mean().reset_index()
        dataframes.append(df_temp_g)
    except Exception as e:
        print(f"Error reading {file}: {e}")

100%|██████████| 24/24 [00:12<00:00,  1.86it/s]

In [13]:
# Concatenate all DataFrames into a single DataFrame
df = pd.concat(dataframes, ignore_index=True)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236687 entries, 0 to 236686
Data columns (total 4 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Date     236687 non-null  datetime64[ns]
 1   Country  236687 non-null  object
 2   Specie   236687 non-null  object
 3   median   236687 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 7.2+ MB

In [15]:
df.sort_values(by='Date')

             Date Country         Specie       median
5965   2014-12-29      MX           pm25   107.500000
5955   2014-12-29      IT             co     0.100000
5956   2014-12-29      IT            no2    32.583333
5957   2014-12-29      IT             o3    12.433333
5959   2014-12-29      IT           pm25    72.250000
...           ...     ...            ...          ...
236635 2023-12-31      CO            so2     0.500000
236634 2023-12-31      CO       pressure  1027.750000
236633 2023-12-31      CO  precipitation     0.500000
236630 2023-12-31      CO             o3     7.550000
236686 2023-12-31      TR     wind-speed     1.100000

[236687 rows x 4 columns]

In [16]:
df.to_csv('silver/atmosferic_data.csv', index=False)